1. What are data structures, and why are they important?

   >>In this way we can store and organize data so it can be used efficiently.
   
   >>Data stracture in python helps manage diffrent type of data eseily.

2 .Explain the difference between mutable and immutable data types with examples?

    >>which data type we can change one data type to another data type is called mutable
    >>list

In [ ]:
list_1=[1,2,3,"mango","raja",3.5]
list_1[0]="manoj"

In [ ]:
list_1

['manoj', 2, 3, 'mango', 'raja', 3.5]

which data type we can not change onr data type to aother data type is clled immutable data type.
>>tuple

In [ ]:
my_tuple=("raja",1,2,3,"abhishek")

In [ ]:
my_tuple[3]="sanjay"#tuple is immutable

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?

    >>list
      .Mutale
      .Less faster then the tuple
      .List ofers appends,remove and many more methoad
      .It's define by []
      .It's support hetrogenous data type

    >>tuple
      .immutable
      .faster then the list
      .We can not change element
      .Less memory

4. Describe how dictionaries store data?

   >>Dictionary perform key value pairs,each item has a unique key
   we can change value

In [8]:
my_dict={"name":"brijesh maurya","age":20,"adress":"akbarpur"}

In [11]:
my_dict

{'name': 'brijesh maurya', 'age': 20, 'adress': 'akbarpur', 0: 'kiran'}

5. Why might you use a set instead of a list in Python?

    >>Set is not allow duplicate value,set automatecally remaove the duplicate values.
    >>list allow the duplicate values.
    >>Support mathmaticals oprations.

6. What is a string in Python, and how is it different from a list?

    >>String use in python is a sequence of chractors used to store and represent text.
    >>string is a mutable
    >list is hetrogenous data type and string is a homogenoue data type .

9. Can lists contain different data types in Python.

   >>list cantain all data type like as string,boolen,complex,etc

In [12]:
my_list=["raja",2,3,4,3.6,True,3+3.8j]

In [13]:
my_list

['raja', 2, 3, 4, 3.6, True, (3+3.8j)]

10. Explain why strings are immutable in Python?

    >>string are use where there no need to change the data type
    >>memory eficiency
    >>safe to use as dictionsry keys

11. What advantages do dictionaries offer over lists for certain tasks?
    >>Fast lookup
    >>Meningfull kay
    >>Better for structure

13. How do sets handle duplicate values in Python?

     >>Sets in oython automatically remove the duplicate values
     if you try to add duplicate value, python will be ignored it

14. How does the “in” keyword work differently for lists and dictionaries?

    >>for list check in value

In [14]:
my_list=["raja",1,3,4,6]

In [15]:
print(3 in my_list)

True

for dict use to check key not values

In [23]:
my_dict={'a':20,'b':300}

In [25]:
print('a' in my_dict)

True

15. Can you modify the elements of a tuple? Explain why or why notP

    >>we can not change element of tuple.
    >>because tuple is a immutable data type.

16.  What is a nested dictionary, and give an example of its use case?

    >>nested dictionary means a dictonary inside another dictionaary.

In [26]:
students={"clsss11":{"name":"rajan","age":23},"class12":{"name":"sweta","age":21}}

In [27]:
print(students)

{'clsss11': {'name': 'rajan', 'age': 23}, 'class12': {'name': 'sweta', 'age': 21}}

18. In what situations are lists preferred over dictionaries3

    >>list are good when we are dealing with simple sequential data
     list maintane insertion order and indexing is simple.
     >>when we no need to key value.
     >>when we need to duplicate values.

20. Explain the difference between a list and a dictionary in terms of data retrieval?

    >>lists are offers indexing in term of data retrieval.
    >>slower

    >>dictionary are offers key (name/table) in term of data retrieval.
    >>fast lookup

                                     **practical question**

In [28]:
#1. Write a code to create a string with your name and print it
name="brijesh maurya"

In [30]:
print("my name:",name)

my name: brijesh maurya

In [31]:
#2. Write a code to find the length of the string "Hello World"
a="Hello World"

In [33]:
len(a)

11

In [36]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
str_1="python programming"

In [38]:
slice_str1=str_1[0:3]

In [39]:
print(slice_str1)

pyt

In [40]:
#4. Write a code to convert the string "hello" to uppercase?
name="hello"

In [42]:
name.upper()

'HELLO'

In [51]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
raju="I like apple"

In [52]:
mohan=raju.replace("apple","orange")

In [53]:
print(mohan)

I like orange

In [55]:
#6. Write a code to create a list with numbers 1 to 5 and print it
list_1=[1,2,3,4,5]

In [56]:
print(list_1)

[1, 2, 3, 4, 5]

In [57]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list_1=[1,2,3,4]

In [61]:
list_1.append(10)

In [62]:
print(list_1)

[1, 2, 3, 4, 10]

In [63]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list_1=[1,2,3,4,5]

In [64]:
list_1.remove(3)

In [65]:
print(list_1)

[1, 2, 4, 5]

In [66]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list_1=['a','b','c','d']

In [67]:
list_1[1]

'b'

In [68]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
numbers=[10,20,30,40,50,]

In [70]:
numbers.reverse()

In [71]:
print(numbers)

[50, 40, 30, 20, 10]

In [72]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple=(100,200,300)

In [73]:
print(my_tuple)

(100, 200, 300)

In [74]:
type(my_tuple)

tuple

In [75]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple= ('red', 'green', 'blue', 'yellow')

In [80]:
second_last=my_tuple[-2]

In [81]:
print("second last:",second_last)

second last: blue

In [82]:
#13.# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
minimum_number = min(numbers)
print("The minimum number in the tuple is:", minimum_number)

The minimum number in the tuple is: 5

In [83]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

In [85]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'orange','kiwi')

if 'kiwi' in fruits:
    print("'kiwi' is in the tuple.")
else:
    print("'kiwi' is not in the tuple.")

'kiwi' is in the tuple.

In [87]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set_1= {'a', 'b', 'c'}

In [88]:
print(set_1)

{'b', 'c', 'a'}

In [89]:
type(set_1)

set

In [91]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3,}
my_set.clear()
print("The set after clearing:", my_set)

The set after clearing: set()

In [92]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print("The set after removing 4:", my_set)

The set after removing 4: {1, 2, 3}

In [93]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("The union of the sets is:", union_set)

The union of the sets is: {1, 2, 3, 4, 5}

In [94]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [95]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [96]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [10, 20, 30]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Emma', 'age': 28}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Emma', 'age': 28}

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.